{% extends 'students/base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Lista Alunos</small>
        <a href="{% url 'student_new' %}" class="btn btn-success">Adicionar Alunos</a>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for student in object_list %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.email }}</td>
                    <td><a href="{% url 'student_view' student.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Ver</button></a></td>
                    <td><a href="{% url 'student_delete' student.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Deletar</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            Ainda não há nenhum aluno. Mas se você quiser, pode adicionar a partir de <a class="badge badge-info" href="{% url 'student_new' %}"><strong>aqui.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}